*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main-bg{
    background-image: url(space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg);
    height: 100vh;
}
/* .nav-header{
    background-color: #ffffff9c !important;
    border-start-end-radius: 10px;
    backdrop-filter: saturate(180%) blur(20px);
    z-index : 1000;
} */
@media only screen and (max-width: 499px) {
   
    .main-bg{
        background-image: url(space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg);
    }

    .space-explore svg{
        width: 200px;
    }

    .space-lauch-no {
        display: flex;
        justify-content: space-evenly;
    }

}
.space-nav li{
    padding: 0 15px;
}
.space-nav li a{
    color: white;
}

.space-destination{
    background-image: url(space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg);
}
.space-destination-nav span{
    text-decoration: none;
    padding: 0 10px;
    color: rgb(214, 214, 214);
    cursor: pointer;
    letter-spacing: 2px;

}
.space-destination h3{
    letter-spacing: 3px;
    color: rgb(214, 214, 214);
}
.space-crew{
    background-image: url(space-tourism-website-main/starter-code/assets/crew/background-crew-desktop.jpg);
}

.space-destination #image{
    position: relative;
    transition: 0.5s;
    animation: spin 1s linear alternate infinite;
}

@keyframes spin {
    100%{
        transform: translateY(10%);
    }
}


.space-lauch{
    background-image: url(space-tourism-website-main/starter-code/assets/technology/background-technology-desktop.jpg);
}
.space-lauch-no1:first-child{
    /* background-color: white; */
    border: 1px solid white;
    border-radius: 50%;
    color: black;
    text-align: center;
}