*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main-bg{
    background-image: url(space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg);
    height: 100vh;
}
@media only screen and (max-width: 600px) {
   
    .main-bg{
        background-image: url(space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg);
    }

    .space-explore svg{
        width: 200px;
    }

}
.space-nav li{
    padding: 0 15px;
}
.space-nav li a{
    color: white;
}

.space-destination{
    background-image: url(space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg);
}
.space-destination-nav span{
    text-decoration: none;
    padding: 0 10px;
    color: rgb(214, 214, 214);
    cursor: pointer;
    letter-spacing: 2px;

}
.space-destination h3{
    letter-spacing: 3px;
    color: rgb(214, 214, 214);
}
.space-crew{
    background-image: url(space-tourism-website-main/starter-code/assets/crew/background-crew-desktop.jpg);
}

.space-destination #image{
    position: relative;
    transition: 0.5s;
    animation: spin 1s linear alternate infinite;
}

@keyframes spin {
    100%{
        transform: translateY(10%);
    }
}
